// .App {
//   text-align: left;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// .App-list {
//   list-style: none;
// }

// @keyframes App-logo-spin {
// 	from {
// 		transform: rotate(0deg);
//   }
// 	to {
// 	transform: rotate(360deg);
//   }
// }


/*** Start here ***/

/** External Resources **/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');


/** Variables **/

$color-primary-accent: #1565c0;
$color-primary-text: #ffffff;
$color-secondary-accent: #003c8f;
$color-secondary-text: darken(#2c3e50, 5);

$navbar-padding: 0.5;



html, body {
	height: 100%;

	font-family: 'Montserrat', sans-serif;
	color: $color-secondary-text;
}

#root {
	height: 100%;
}

/* Navigation Bar */
.navbar {
	width: stretch;
	height: auto;
	flex-basis: auto;
	background: $color-primary-accent;

	box-shadow: 0px 3px lighten($color-primary-accent, 20);

	ul {
		list-style: none;
		text-align: right;

		width: 80%;
		margin: 0 auto;
		padding: $navbar-padding + em;
	}
}

.navbar-elem {
	display: inline-block;

	padding: $navbar-padding + em;

	a {
		position: relative;
		padding: ($navbar-padding / 2) + em;

		color: $color-primary-text;
		font-size: 20px;
		text-decoration: none;
	}
	a:after {
		content: "";
		position: absolute;
		right: 0;
		width: 0;
		bottom: -3px;
		background: $color-primary-text;
		height: 2px;
		transition-property: width;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}
	a:hover:after,
	a:focus:after,
	a:active:after {
		left: 0;
		right: auto;
		width: 100%;
	}
	.active:after {
		left: 0;
		right: auto;
		width: 100%;
	}
}

$break-small: 400px;
$break-medium: 800px;
$break-large: 1200px;

.app-body {
	width: 50%;
	margin: 1em auto 6em auto;

	@media screen and (max-width: $break-large) {
		width: 65%;
	}

	@media screen and (max-width: $break-medium) {
		width: 80%;
	}

	@media screen and (max-width: $break-small) {
		width: 90%;
	}

	h1 {
		font-size: 3.5em;
	}

	h1 {
		font-size: 2.5em;
	}

	.button-link {
		background:none!important;
		color:inherit;
		border:none;
		padding:0!important;
		font: inherit;
		cursor: pointer;
	}

	a, .button-link {
		color: $color-secondary-accent;
		text-decoration: none;
		font-weight: 600;
	}
	a:hover, .button-link:hover {
		color: lighten($color-primary-accent, 15);
	}
}


/* Home/Landing */

.landing {
	background: $color-primary-accent;
	color: $color-primary-text;
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;
	width: 100%;
	box-sizing: border-box;

	.navbar {
		box-shadow: none;
	}
}

.landing-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;

	margin: 0 5em 5em 5em;

	.header {

		h1 {
			font-size: 100px;
		}

		h3 {
			font-size: 20px;
		}
	}

	.subheader {
		ul {
			list-style: none;

			margin: 0;
			padding: 0;

			font-size: 16px;

			li {
				display: inline-block;
				margin-right: 0.5em;
				padding: 0.5em 0 0.5em 0;

				a {
					padding: 1em;
					color: $color-primary-text;
					text-decoration: none;
				}

				.fa-icon {
					font-size: 30px;
				}
			}
		}
	}
}

.publication-item {
	
	em {
		font-weight: 600;
	}

	.publication-item-menu {
		list-style: none;
		padding-inline-start: 0;

		li {
			display: inline-block;
			margin: 0 0.5em;
		}
		li.bibtex-block {
			display: block;
			margin: 0.7em 0;
		}
	}
}

.bibtex-block {
	height: auto;
	background: lighten($color-primary-accent, 55);
	padding: 0.5em;
	margin: 0.7em 0;
	box-sizing: border-box;

	border-radius: 3px;
	border: 2px solid $color-secondary-accent;

	transition-property: all;
	transition-duration: .8s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	p {
		margin: 0;
	}
}
.bibtex-block:hover {
	border: 2px solid lighten($color-primary-accent, 20);
}
.bibtex-block-closed {
	opacity: 0;
	height: 0;
	overflow: hidden;
	margin: 0 !important;
	padding: 0;
}

.contact {
	font-size: 1.1em;

	.email-box {
		margin: 1.5em 0;

		h2 {
			margin-bottom: 0.5em;
		}

		p {
			margin-top: 0.5em;
		}

		a {
			padding-left: 1em;
		}
	}

	ul {
		list-style: none;
		padding-inline-start: 0;
		margin-left: 1em;

		li {
			margin: 0.5em 0;
			font-size: 1.1em;
		}
	}

	hr {
		border-width: 0.5px;
	}
}


/** About **/

.about {
	display: flex;

	@media screen and (max-width: $break-medium) {
		flex-wrap: wrap;
	}

	@media screen and (max-width: $break-small) {
		justify-content: center;
	}

	.about-img-wrapper {
		// min-width: 200px;
		margin: 0 1em 0 0;
		width: 300px;
		height: 300px;

		img {
			width: 300px;
			height: 300px;
			box-sizing: border-box;

			border: 0.5em solid $color-primary-accent;
			border-radius: 50%;
		}
		img:hover {
			animation: 6s multicolor;
			animation-delay: 0.2s;
			animation-iteration-count: infinite;
		}

		@media screen and (max-width: $break-small) {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	p {
		margin-left: 1em;
	}
}

@keyframes multicolor {
	0% {
		border-color: $color-primary-accent;
	}
	20% {
		border-color: #16a085;
	}
	40% {
		border-color: #e67e22;
	}
	60% {
		border-color: #c0392b;
	}
	80% {
		border-color: #27ae60;
	}
	100% {
		border-color: $color-primary-accent;
	}
}

.activity-section {

	h2 {
		margin-top: 1.2em;
		margin-bottom: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-inline-start: 0;
		padding: 0 1em;

		li {
		}
		li:nth-child(n+1) {
			border-bottom: 1px solid #7f8c8d;
		}
	}
}

.activity-item {
	padding: 1em 0;
	
	p {
		margin: 0.2em 0;
	}

	.activity-item-title {
		font-weight: 600;
	}

	.activity-item-subtitle {
		margin-top: 0.8em;
	}

	.activity-item-date {
		color: #7f8c8d;
		margin-bottom: 0.8em;
	}

	.activity-item-description {

	}
}