/** Import Bootstrap SCSS **/
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

// modify defaults to match colour theme
$custom-theme-colors: (
	// primary: purple
	// add new colours
	success-flash: lighten(#27ae60, 56),
	// special
	github: #8957e5,
	github-text: #ffffff,
	amazon: darkOrange,
	amazon-text: #ffffff,
	youtube: red,
	youtube-text: #ffffff,
	award: #ffd700,
	award-text: #000000,
);

// merge new colours with existing colours
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

$btn-hover-bg-shade-amount: 25%; // 15% !default;
$btn-hover-bg-tint-amount: 25%; // 15% !default;
// $btn-hover-border-shade-amount: 20% !default;
// $btn-hover-border-tint-amount: 10% !default;
// $btn-active-bg-shade-amount: 20% !default;
// $btn-active-bg-tint-amount: 20% !default;
// $btn-active-border-shade-amount: 25% !default;
// $btn-active-border-tint-amount: 10% !default;

/** External Resources **/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@import '~bootstrap/scss/bootstrap';

/** Variables **/

$color-primary-accent: #203453;
$color-primary-text: #ffffff;
$color-secondary-accent: lighten(#203453, 13);
$color-secondary-text: darken(#2c3e50, 10);

$color-footer-background: lighten($color-primary-accent, 0);
$color-footer-text: #ffffff;

$navbar-padding: 0.5;
$break-small: 500px;
$break-medium: 800px;
$break-large: 1200px;

// to-do: use this to get colours (from https: //getbootstrap.com/docs/4.0/getting-started/theming/)
@function theme-color($key: "primary") {
	@return map-get($theme-colors, $key);
}

// to-do: modify this
//** Global textual link color.
// $link-color: $brand-primary !default;
// //** Link hover color set via `darken()` function.
// $link-hover-color: darken($link-color, 15%) !default;
// //** Link hover decoration.
// $link-hover-decoration: underline !default;

/** Changes to Bootstrap colors **/
// .btn-primary {
// 	@include button-variant($color-primary-accent, darken($color-primary-accent, 7.5%), darken($color-primary-accent, 10%), lighten($color-primary-accent, 15%), lighten($color-primary-accent, 25%), darken($color-primary-accent, 30%));
// }

// set text color for buttons according to the custom colours
@mixin generate-text-colors($colors) {
	@each $key, $value in $colors {
		@if str-index($key, "-text") {
			$base: str-slice($key, 1, str-index($key, "-text") - 1);

			.btn-#{$base} {
				color: theme-color("#{$key}") !important;
			}
		}
	}
}

@include generate-text-colors($custom-theme-colors);


html,
body {
	height: 100%;

	font-family: 'Montserrat', sans-serif;
	color: $color-secondary-text;
	background: $color-footer-background;

	scroll-behavior: smooth;
}

#root {
	height: 100%;
}

.App {
	background: #ffffff;
}

/* Navigation Bar */
.navbar {
	display: flex;
	justify-content: space-between;
	width: stretch;
	height: auto;
	flex-basis: auto;
	padding: 5px 8%;
	background: $color-primary-accent;

	box-shadow: 0px 3px lighten($color-primary-accent, 20);

	ul {
		list-style: none;
		text-align: right;

		width: 100%;
		margin: 0 auto;
		padding-inline-start: 0;
	}

	#responsive-title {
		display: none;
	}

	#responsive-menu-button {
		display: none;
		height: fit-content;
		padding: $navbar-padding + em;

		font-size: 1.3em;
		color: $color-primary-text;

		cursor: pointer;
	}

	@media screen and (max-width: $break-small) {
		text-align: right;

		ul {
			text-align: left;
		}

		#responsive-title {
			display: flex;
		}

		#responsive-menu-button {
			display: inline-block;
		}
	}
}

.navbar-elem {
	display: inline-block;
	margin: $navbar-padding + em;

	a {
		position: relative;
		margin: ($navbar-padding / 2) + em;

		color: $color-primary-text;
		font-size: 1.2em;
		text-decoration: none;
	}

	a:after {
		content: "";
		position: absolute;
		left: 2px;
		width: 0;
		bottom: -6px;
		background: $color-primary-text;
		height: 3px;
		border-radius: 3px;
		transition-property: width;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
		display: inline-block;
	}

	a:hover:after,
	a:focus:after,
	a:active:after {
		// left: 0;
		// right: auto;
		width: calc(100% - 4px); // Set the width to 100% minus 5px
	}

	.active:after {
		// left: 0;
		// right: auto;
		width: calc(100% - 4px); // Set the width to 100% minus 5px
	}

	@media screen and (max-width: $break-large) {
		a {
			font-size: 1.1em;
		}
	}

	@media screen and (max-width: $break-medium) {
		a {
			font-size: 1em;
		}
	}

	@media screen and (max-width: $break-small) {
		display: block;

		a:after {
			bottom: 0px;
		}

		.active:after {
			left: 2px;
			width: 98%;
		}
	}
}

.footer {
	display: flex;
	padding: 1em 16%;
	margin-top: -5px;
	justify-content: space-between;

	background: $color-footer-background;
	color: $color-footer-text;

	font-size: 0.9em;

	a {
		display: inline-block;

		font-weight: 600;
		text-decoration: none;
		color: $color-footer-text;
	}

	a:hover {
		color: #95a5a6;
		text-decoration: underline;
	}

	.quick-links {
		flex: 1 0 auto;
		margin-left: 1em;

		ul {
			display: flex;
			justify-content: space-between;
			flex-direction: column;

			width: fit-content;
			list-style: none;
			padding-inline-start: 0;
			margin-left: auto;
			margin-right: auto;

			font-size: 0.95em;

			li {
				width: fit-content;

				margin-bottom: 0.4em;
			}
		}
	}

	.footer-text {
		flex: 1 1 auto;
	}

	@media screen and (max-width: $break-small) {
		flex-direction: column;

		.quick-links {
			ul {
				margin-left: 0;
			}
		}
	}
}

.app-body {
	width: 50%;
	margin: 1em auto 3em auto;

	@media screen and (max-width: $break-large) {
		width: 65%;
	}

	@media screen and (max-width: $break-medium) {
		width: 80%;
	}

	@media screen and (max-width: $break-small) {
		width: 90%;
	}

	h1 {
		font-size: 3.5em;
	}

	h1 {
		font-size: 2.5em;
	}

	.button-link {
		background: none !important;
		color: inherit;
		border: none;
		padding: 0 !important;
		font: inherit;
		cursor: pointer;
	}

	a,
	.button-link {
		position: relative;
		color: $color-secondary-accent;
		text-decoration: none;
		font-weight: 600;
	}

	a:hover,
	.button-link:hover {
		color: lighten($color-primary-accent, 5);
	}

	a:hover {
		border-bottom: 1px solid lighten($color-primary-accent, 5);
	}
}


/* Home/Landing */

.landing {
	background: $color-primary-accent;
	color: $color-primary-text;
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;
	width: 100%;
	box-sizing: border-box;

	.navbar {
		box-shadow: none;
	}

	.small-name {
		font-size: 0.8em;
	}
}

.landing-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;

	margin: 0 5em 5em 5em;

	.header {

		h1 {
			font-size: 7em;
		}

		h3 {
			font-size: 1.5em;
		}
	}

	.subheader {
		ul {
			list-style: none;

			margin: 0;
			padding: 0;

			font-size: 16px;

			li {
				display: inline-block;
				padding: 0.5em 0 0.5em 0;

				a {
					padding: 1em;
					color: $color-primary-text;
					text-decoration: none;
				}

				.fa-icon {
					font-size: 30px;
				}
			}

			li:not(:first-child) {
				margin-right: 0.5em;
			}
		}
	}

	@media screen and (max-width: $break-large) {
		.header {
			h1 {
				font-size: 5.5em;
			}
		}
	}

	@media screen and (max-width: $break-medium) {
		margin: 0 3em 3em 3em;

		.header {
			h1 {
				font-size: 3em;
			}

			h3 {
				font-size: 1.2em;
			}
		}
	}

	@media screen and (max-width: $break-small) {
		margin: 0 2em 2em 2em;

		.header {
			h1 {
				font-size: 2.3em;
			}

			h3 {
				font-size: 0.9em;
			}
		}
	}
}


/** 404 PageNotFound **/

.page-not-found {
	min-height: 70vh;
}


/** Publications **/

.publication-item {
	margin-bottom: 1rem;

	p {
		margin-bottom: 0.1rem;
	}

	.publication-item-menu {
		list-style: none;
		padding-inline-start: 0;
		padding: 0.3rem 0rem;

		li {
			display: inline-block;
			margin: 0.3rem 0.3rem;
		}

		li.bibtex-block {
			display: block;
			margin: 0.7em 0;
		}

		.btn-award {
			pointer-events: none;
		}
	}

	.conference {
		color: $gray-600;
	}

}

.publication-overlay {

	@media screen and (max-width: $break-small) {
		padding: 0.7em;
	}
}

.publication-modal {

	@media screen and (max-width: $break-small) {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	h2 {
		margin-block-start: 0;
		text-align: center;
	}
}

.publication-modal-button:hover {
	cursor: pointer;
}



.bibtex-block {
	height: auto;
	background: lighten($color-primary-accent, 75);
	padding: 0.5em;
	margin: 0.7em 0;
	box-sizing: border-box;

	border-radius: 3px;
	border: 2px solid $color-secondary-accent;

	transition-property: all;
	transition-duration: .8s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	p {
		margin: 0;
	}
}

.bibtex-block:hover {
	border: 2px solid lighten($color-primary-accent, 20);
}

.bibtex-block-closed {
	opacity: 0;
	height: 0;
	overflow: hidden;
	margin: 0 !important;
	padding: 0;
}

.contact {
	font-size: 1.1em;

	.email-box {
		margin: 1.5em 0;

		h2 {
			margin-bottom: 0.5em;
		}

		p {
			margin-top: 0.5em;
		}

		a {
			padding-left: 1em;
		}
	}

	ul {
		list-style: none;
		padding-inline-start: 0;
		margin-left: 1em;

		li {
			margin: 0.5em 0;
			font-size: 1.1em;
		}
	}

	hr {
		border-width: 0.5px;
	}
}


/** About **/

.about {
	display: flex;

	@media screen and (max-width: $break-medium) {
		flex-wrap: wrap;
	}

	@media screen and (max-width: $break-small) {
		justify-content: center;
	}

	.about-img-wrapper {
		// min-width: 200px;
		margin: 0 1em 0 0;
		width: 350px;
		height: 300px;

		img {
			//width: 300px;
			//height: 300px;
			height: 100%;
			box-sizing: border-box;
			border: 0.5em solid $color-primary-accent;
			border-radius: 50%;
		}

		img:hover {
			animation: 6s multicolor;
			animation-delay: 0.2s;
			animation-iteration-count: infinite;
		}

		@media screen and (max-width: $break-small) {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	p {
		margin-left: 1em;
	}
}

@keyframes multicolor {
	0% {
		border-color: $color-primary-accent;
	}

	17% {
		border-color: #1abc9c;
	}

	34% {
		border-color: #f1c40f;
	}

	51% {
		border-color: #e67e22;
	}

	68% {
		border-color: #c0392b;
	}

	85% {
		border-color: #27ae60;
	}

	100% {
		border-color: $color-primary-accent;
	}
}

.activity-section {

	h2 {
		margin-top: 1.2em;
		margin-bottom: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-inline-start: 0;
		padding: 0 1em;

		li {}

		li:nth-child(n+1) {
			border-bottom: 1px solid #7f8c8d;
		}
	}

	img {
		width: 80%;
	}
}


/** Projects **/

.projects {

	.items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}
}

.project-item {
	flex: 1 1 40%;
	padding: 0.5em 1em;
	margin: .5em 1em 1em 0;

	color: $color-primary-text;

	.project-item-title {
		margin-bottom: 0.3em;

		font-size: 1.1em;
	}

	.project-item-subtitle {
		font-size: 0.8em;
		color: darken($color-primary-text, 10);
	}

	.project-item-role {
		margin-top: 0.3em;
		font-size: 0.8em;
		color: darken($color-primary-text, 10);
	}

	.project-item-description {
		font-size: 0.9em;
	}

	.project-item-skills {
		font-size: 0.8em;
	}

	.project-item-url {
		a {
			color: $color-primary-text;
			text-decoration: none;
			border-bottom: 1px solid $color-primary-text;
		}

		a:hover {
			color: $color-primary-accent;
			border-bottom: 1px solid $color-primary-accent;
		}
	}
}

.project-item:hover {
	position: relative;
	top: -2px;
	left: -2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
}

.project-item:nth-child(5n+1) {
	background: #27ae60;
}

.project-item:nth-child(5n+2) {
	background: #e74c3c;
}

.project-item:nth-child(5n+3) {
	background: #e67e22;
}

.project-item:nth-child(5n+4) {
	background: #3498db;
}

.project-item:nth-child(5n+5) {
	background: #8e44ad;
}


/** General **/

.inline-icon-before {
	margin-right: 0.4em;
}

.inline-icon-after {
	margin-left: 0.4em;
}

.btn-primary {
	color: $color-primary-text !important;
}

// Add these styles if you want to customize the Bootstrap modal
.modal {
	.modal-dialog {
		max-width: 65%; // or whatever width you prefer
	}

	.modal-content {
		border-radius: 0.5rem;
	}

	.modal-header {
		border-bottom: none;
		padding: 1.5rem 1.5rem 0.5rem;
	}

	.modal-title {
		text-align: center;
	}

	.modal-body {
		padding: 0.1rem 1.0rem 1.0rem;
	}

	.table {
		margin-bottom: 0;
		font-size: 0.85em;
		// width: 100%;

		th {
			text-align: right;
			vertical-align: top;
			padding: 0.25rem 0rem;
			padding-right: 0.8em;

			// make text unselectable
			-webkit-touch-callout: none;
			user-select: none;
			width: 20%;
		}

		td {
			position: relative;
			padding: 0.25rem 0rem;
			white-space: normal;
		}

		.citation-text {
			padding: 0.05rem 0.5rem;
			border-radius: 0.2rem;
			position: relative;
			min-height: 2.0rem;
			transition: background-color 0.2s ease; // Add smooth transition

			span {
				line-height: 1.5;
				display: inline-block;
				white-space: normal;
				width: 100%;
			}

			.copy-button {
				display: block;
				position: absolute;
				right: 0.0rem;
				bottom: 0.0rem;
				transform: none;
			}

			div {
				display: inline;
			}
		}

		.bibtex-citation {
			// white-space: nowrap;
			overflow-x: auto;
			display: block;
			max-height: 40vh;
			// max-width: 80%;
			position: relative;
		}

		.text-bg-light {
			// border: 1px solid #ffffff;
		}

		.text-bg-success-flash {
			// border: 1px solid darken(theme-color("success-flash"), 15);
		}
	}
}

/** Animations **/

.fade-animation-on-load {
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 0.5s ease forwards;
}

.fade-animation-sequence {
	>.fade-animation-on-load {
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				animation-delay: #{$i * 0.1}s;
			}
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}