/** External Resources **/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
/** Variables **/
html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #233140;
  background: #1565c0;
  scroll-behavior: smooth; }

#root {
  height: 100%; }

.App {
  background: #ffffff; }

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  width: stretch;
  height: auto;
  flex-basis: auto;
  padding: 5px 8%;
  background: #1565c0;
  box-shadow: 0px 3px #4f98ec; }
  .navbar ul {
    list-style: none;
    text-align: right;
    width: 100%;
    margin: 0 auto;
    padding-inline-start: 0; }
  .navbar #responsive-title {
    display: none; }
  .navbar #responsive-menu-button {
    display: none;
    height: fit-content;
    padding: 0.5em;
    font-size: 1.3em;
    color: #ffffff;
    cursor: pointer; }
  @media screen and (max-width: 500px) {
    .navbar {
      text-align: right; }
      .navbar ul {
        text-align: left; }
      .navbar #responsive-title {
        display: flex; }
      .navbar #responsive-menu-button {
        display: inline-block; } }

.navbar-elem {
  display: inline-block;
  padding: 0.5em; }
  .navbar-elem a {
    position: relative;
    padding: 0.25em;
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none; }
  .navbar-elem a:after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    bottom: -3px;
    background: #ffffff;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .navbar-elem a:hover:after,
  .navbar-elem a:focus:after,
  .navbar-elem a:active:after {
    left: 0;
    right: auto;
    width: 100%; }
  .navbar-elem .active:after {
    left: 0;
    right: auto;
    width: 100%; }
  @media screen and (max-width: 1200px) {
    .navbar-elem a {
      font-size: 1.1em; } }
  @media screen and (max-width: 800px) {
    .navbar-elem a {
      font-size: 1em; } }
  @media screen and (max-width: 500px) {
    .navbar-elem {
      display: block; }
      .navbar-elem a:after {
        bottom: 0px; }
      .navbar-elem .active:after {
        left: 2px;
        width: 98%; } }

.footer {
  display: flex;
  padding: 1em 16%;
  margin-top: -5px;
  justify-content: space-between;
  background: #1565c0;
  color: #ffffff;
  font-size: 0.9em; }
  .footer a {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff; }
  .footer a:hover {
    color: #95a5a6;
    text-decoration: underline; }
  .footer .quick-links {
    flex: 1 0 auto;
    margin-left: 1em; }
    .footer .quick-links ul {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: fit-content;
      list-style: none;
      padding-inline-start: 0;
      margin-left: auto;
      margin-right: auto;
      font-size: 0.95em; }
      .footer .quick-links ul li {
        width: fit-content;
        margin-bottom: 0.4em; }
  .footer .footer-text {
    flex: 1 1 auto; }
  @media screen and (max-width: 500px) {
    .footer {
      flex-direction: column; }
      .footer .quick-links ul {
        margin-left: 0; } }

.app-body {
  width: 50%;
  margin: 1em auto 3em auto; }
  @media screen and (max-width: 1200px) {
    .app-body {
      width: 65%; } }
  @media screen and (max-width: 800px) {
    .app-body {
      width: 80%; } }
  @media screen and (max-width: 500px) {
    .app-body {
      width: 90%; } }
  .app-body h1 {
    font-size: 3.5em; }
  .app-body h1 {
    font-size: 2.5em; }
  .app-body .button-link {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer; }
  .app-body a, .app-body .button-link {
    color: #003c8f;
    text-decoration: none;
    font-weight: 600; }
  .app-body a:hover, .app-body .button-link:hover {
    color: #388be9; }

/* Home/Landing */
.landing {
  background: #1565c0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }
  .landing .navbar {
    box-shadow: none; }

.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin: 0 5em 5em 5em; }
  .landing-wrapper .header h1 {
    font-size: 7em; }
  .landing-wrapper .header h3 {
    font-size: 1.5em; }
  .landing-wrapper .subheader ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px; }
    .landing-wrapper .subheader ul li {
      display: inline-block;
      padding: 0.5em 0 0.5em 0; }
      .landing-wrapper .subheader ul li a {
        padding: 1em;
        color: #ffffff;
        text-decoration: none; }
      .landing-wrapper .subheader ul li .fa-icon {
        font-size: 30px; }
    .landing-wrapper .subheader ul li:not(:first-child) {
      margin-right: 0.5em; }
  @media screen and (max-width: 1200px) {
    .landing-wrapper .header h1 {
      font-size: 5.5em; } }
  @media screen and (max-width: 800px) {
    .landing-wrapper {
      margin: 0 3em 3em 3em; }
      .landing-wrapper .header h1 {
        font-size: 3em; }
      .landing-wrapper .header h3 {
        font-size: 1.2em; } }
  @media screen and (max-width: 500px) {
    .landing-wrapper {
      margin: 0 2em 2em 2em; }
      .landing-wrapper .header h1 {
        font-size: 2.3em; }
      .landing-wrapper .header h3 {
        font-size: 0.9em; } }

/** 404 PageNotFound **/
.page-not-found {
  min-height: 70vh; }

/** Publications **/
.publication-item .publication-item-menu {
  list-style: none;
  padding-inline-start: 0; }
  .publication-item .publication-item-menu li {
    display: inline-block;
    margin: 0 0.5em; }
  .publication-item .publication-item-menu li.bibtex-block {
    display: block;
    margin: 0.7em 0; }

.bibtex-block {
  height: auto;
  background: #f0f6fd;
  padding: 0.5em;
  margin: 0.7em 0;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid #003c8f;
  transition-property: all;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
  .bibtex-block p {
    margin: 0; }

.bibtex-block:hover {
  border: 2px solid #4f98ec; }

.bibtex-block-closed {
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0; }

.contact {
  font-size: 1.1em; }
  .contact .email-box {
    margin: 1.5em 0; }
    .contact .email-box h2 {
      margin-bottom: 0.5em; }
    .contact .email-box p {
      margin-top: 0.5em; }
    .contact .email-box a {
      padding-left: 1em; }
  .contact ul {
    list-style: none;
    padding-inline-start: 0;
    margin-left: 1em; }
    .contact ul li {
      margin: 0.5em 0;
      font-size: 1.1em; }
  .contact hr {
    border-width: 0.5px; }

/** About **/
.about {
  display: flex; }
  @media screen and (max-width: 800px) {
    .about {
      flex-wrap: wrap; } }
  @media screen and (max-width: 500px) {
    .about {
      justify-content: center; } }
  .about .about-img-wrapper {
    margin: 0 1em 0 0;
    width: 300px;
    height: 300px; }
    .about .about-img-wrapper img {
      width: 300px;
      height: 300px;
      box-sizing: border-box;
      border: 0.5em solid #1565c0;
      border-radius: 50%; }
    .about .about-img-wrapper img:hover {
      animation: 6s multicolor;
      animation-delay: 0.2s;
      animation-iteration-count: infinite; }
    @media screen and (max-width: 500px) {
      .about .about-img-wrapper {
        width: 100%;
        height: 100%; }
        .about .about-img-wrapper img {
          width: 100%;
          height: 100%; } }
  .about p {
    margin-left: 1em; }

@keyframes multicolor {
  0% {
    border-color: #1565c0; }
  17% {
    border-color: #1abc9c; }
  34% {
    border-color: #f1c40f; }
  51% {
    border-color: #e67e22; }
  68% {
    border-color: #c0392b; }
  85% {
    border-color: #27ae60; }
  100% {
    border-color: #1565c0; } }
.activity-section h2 {
  margin-top: 1.2em;
  margin-bottom: 0; }
.activity-section ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  padding: 0 1em; }
  .activity-section ul li:nth-child(n+1) {
    border-bottom: 1px solid #7f8c8d; }

/** Projects **/
.projects .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; }

.project-item {
  flex: 1 1 40%;
  padding: 0.5em 1em;
  margin: .5em 1em 1em 0;
  background: #27ae60;
  color: #ffffff; }
  .project-item .project-item-title {
    margin-bottom: 0.3em;
    font-size: 1.1em; }
  .project-item .project-item-subtitle {
    font-size: 0.8em;
    color: #e6e6e6; }
  .project-item .project-item-role {
    margin-top: 0.3em;
    font-size: 0.8em;
    color: #e6e6e6; }
  .project-item .project-item-description {
    font-size: 0.9em; }
  .project-item .project-item-skills {
    font-size: 0.8em; }
  .project-item .project-item-url a {
    color: #ffffff;
    text-decoration: underline; }
  .project-item .project-item-url a:hover {
    color: #1565c0; }

.project-item:hover {
  position: relative;
  top: -5px;
  left: -5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px; }

.project-item:nth-child(10n+2) {
  background: #e74c3c; }

.project-item:nth-child(10n+3) {
  background: #e67e22; }

.project-item:nth-child(10n+4) {
  background: #3498db; }

.project-item:nth-child(10n+5) {
  background: #8e44ad; }

/*# sourceMappingURL=App.css.map */
